* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.1em;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/* div {
    background-color: rgb(255, 255, 255);
    width: 300px;
    min-height: 50px;
    border: solid 2px red;
    padding: 10px 30px 60px 100px;
    margin: 60px;
} */


header {
    background-color: rgb(233, 233, 233);
    min-height: 100px;
    text-align: center;
}

footer {
    background-color: rgb(233, 233, 233);
    color: hsl(0, 0%, 24%);
    padding: 20px 40px;
}

#about {
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-align: center;
}

#articles {
    background-color: rgb(207, 207, 207);
    padding: 20px 40px;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h1 {
    font-size: 2.5em;
    color: #585858;
}

#content {
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
}


.iconsc {
    width: 30px;
    
}

a {
    color: #525252;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #290000;
    text-decoration: none;
}

#about a {
    color: #000000;
    background-color: #dddddd;
}
#articles ol li a:hover{
    background-color: #dddddd;
}

#articles ol li a:focus {
    background-color: #b8b8b8;
    color: rgb(240, 240, 240);    
}

#about q a:hover {
    background-color: rgb(235, 235, 235);
    color: #bebebe;
}

#articles li:nth-child(even) {
    background-color: #999999;
}

#articles li:nth-child(odd) {
    background-color: #bbbbbb;
}

#header nav ul li a:hover{
    background-color: #999999;
    color: #dddddd;
}

#header nav ul li a:focus {
    background-color: #d6d6d6;
    color: #ffffff;
}


#articles a.definition::after {
    content: "Важно!";
    background-color: #6b6b6b;
    color: #ffffff;
    border-radius: 5px;
} 

p:lang(en){
    color: #3f3f3f;
}

#about h2{
    background-color: #bbbbbb;
    color: #f7f7f7;
}

footer img {
    border: #585858;
    border-radius: 30px;
}

a+p {
    margin-top: 20px;
}

.firstline::first-line {
    letter-spacing: 0.5rem;
}

.table-example {
    border: 2px rgb(0, 0, 0) solid;
    border-collapse: collapse;
    width: 1300px;
    border-collapse: collapse;
}

.table-example thead {
    background-color: rgb(179, 179, 179);
}

.table-example td,
.table-example th {
    border: 1px black solid;
    border-bottom: 1px rgb(0, 0, 0);
    padding: 10px 20px;
}

.table-example tr:nth-child(even) {
    background-color: #d4d4d4;
}

.table-example td:last-child,
.table-example th:last-child {
    text-align: left;
}

.table-example tr:last-child,
.table-example td:first-child {
    background-color: #6b6b6b;
}
/*.table-example tr:last-child td:last-child {
    font-weight: bold;
} */

#registration {
    background-color: rgb(161, 161, 161);
    border: 3px;
    width: 300px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px;
}


#registration input {
    background-color: rgb(255, 227, 250);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#registration input[type=submit] {
    background-color: rgb(255, 248, 219);
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

#registration input[type=submit]:hover {
    background-color: rgb(180, 220, 255);
}

#registration input[type=radio] {
    accent-color: rgb(0, 0, 0);
}

#registration select,
#registration textarea {
    background-color: rgb(255, 227, 250);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
}

#contract-form input[type="text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white 1px solid;
    background-color: #bbbbbb;
}

/* a[href^=http]{
    background-color: #ffffff;
} */